{%extends "public-home.html" %}

{%block content %}

<h1>Help</h1>
<p>Quick User Guide</p>

<h3 id="about">About</h3>
<p>It is intended to make classroom revision easier and fun, both for the lecturers (tutors) and the students. Lecturers post revision questions of what they have taught in class and the students can test themselves. Lecturers can also easily communicate with their students by importing contacts from the app to their Google Contacts. Both students and lecturers can publish the revision questions to the Google Drive for offline print, archiving, etc.</p>
<p>The app also has a social-networking aspect in a way that both lecturers and students engage in side-line discussions alongside the review questions. The app is mainly intended for deployment on <strong>Google Apps for Education</strong> platform.</p>

<h3 id="judges">For Judges</h3>
<p>QuizerApp can be used by any GMail or Google Apps account. However, we have accounts already set up
	with data for testing. This can be <em>optionally</em> used to verify the working of the app. <br/>
	The following are the accounts. All use the password: <strong>quizertest</strong></p>
	<ul>
		<li>prof@test.quizer.info (lecturer)</li>
		<li>rita@test.quizer.info (lecturer)</li>
		<li>stud1@test.quizer.info (student)</li>
		<li>stud2@test.quizer.info (student)</li>
		<li>stud3@test.quizer.info (student)</li>
		<li>stud4@test.quizer.info (student)</li>
		<li>stud5@test.quizer.info (student)</li>
		<li>stud6@test.quizer.info (student)</li>
		<li>stud7@test.quizer.info (student)</li>
	</ul>


<h3 id="docs">Google Docs App</h3>
<p>The Google Docs (App Script) app publishes the revision question to your Google drive/docs.
	When you go to your Google Drive/Docs, you will see the published revision with the names
	Quizer: [title of the revision]</p>
<p>There is a <em>Janitor</em> app that runs at the end of every hour that takes all the revision apps
	and arranges them into one folder/collection called "Quizer"</p>

<p><strong>NOTE: </strong>When you encounter any error while using this app, please relaunch it again (refresh your 
	browser).</p>
	
<h3 id="contacts">Google Contacts App</h3>
<p>When you sync your students'/classmates' contacts, the app picks their details and creates contacts in
	 your <em>Google Contacts</em> and puts all of them under one Contact Group called "QuizerApp".</p>

<p><strong>NOTE: </strong>When you encounter any error while using this app, please relaunch it again (refresh your 
	browser).</p>
	
{%endblock %}
